.account{
  background-color: $secondaryVariant;
  padding-bottom: 30px;

  &__title{
    padding: 20px;
    background-color: white;

    @include desktop{
      padding: 20px 60px;
      background-color: $secondaryVariant;
    }

    p{
      font-size: 12px;

      @include desktop{
        font-size: 21px;
        margin: 26.5px 0;
      }
    }

    h1{
      margin: 0;
    }
  }

  
  &__restaurantInfo{
    margin: 20px;
    padding: 40px 20px;
    border: 1px solid $primaryVariant2;
    border-radius: 20px;
    background-color: white;

    @include desktop{
      padding: 20px 54.8px;
      margin: 35px 56px ;
    }

    .MuiInputLabel-root{
      @extend %buttons;
      color: $primaryVariant1;
      font-size: 20px;

      @include desktop{
        font-size: 30px;
      }
    }

    .MuiInputBase-input{
      padding: 12px 0;
    }

    button{
      margin-top: 26px;
      width: 227px;
    }
  }

  &__wrap1,
  &__wrap2,
  &__editorWrap1,
  &__editorWrap2{
    &>div:first-child{
      @include desktop{
        padding-right: 20px;
      }
    }

    &>div:last-child{
      @include desktop{
        padding-left: 20px;
      }
    }

    @include desktop{
      display: flex;
      justify-content: space-between;
    }
  }

  &__buttonWrap{
    margin: 30px 0 50px;
  }

  &__logOutButton{
    background-color: white;
    color: $primary;
    border: 2px solid $primary;

    @include desktop{
      margin-left: 40px;
    }
  }

  &__editorWrap{
    button{
      margin: 20px 60px 80px;
    }
  }

  &__infoEditor,
  &__locationEditor{
    margin: 50px 20px 20px;
    padding: 40px 20px;
    border: 1px solid $primaryVariant2;
    border-radius: 20px;
    background-color: white;

    @include desktop{
      padding: 20px 54.8px;
      margin: 35px 56px ;
    }

    h2{
      @extend %headings;
      font-size: 24px;
    }
  }

  .MuiOutlinedInput-multiline{
    @include desktop{
      height: 233px !important;
    }

    .MuiOutlinedInput-inputMultiline{
      height: 100% !important;
    }
  }
}
