.addDish{

  background-color: $secondaryVariant;
  padding-bottom: 135px;

  &__titleWrap{
    background-color: white;
    padding: 20px;

    @include desktop{
      background-color: $secondaryVariant;
      padding: 20px 65px;
    }

    h1{
      margin: 0;
    }

    p{
      font-size: 12px;

      @include desktop{
        font-size: 21px;
        margin: 26.5px 0;
      }
    }
  }

  .MuiInputLabel-outlined {
    z-index: 1;
    transform: translate(25px, 20px) scale(1);
    pointer-events: none;

    @include desktop{
      transform: translate(25px, 25px) scale(1);
    }
  }



  &__editor{
    margin: 50px 20px;
    padding: 50px 20px 150px;
    border: 1px solid $primaryVariant2;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop{
      padding: 20px 54.8px 144px;
      margin: 35px 56px ;
    }

    &-buttonWrap{
      margin: 46px 0;
    }

    &-addButton{
      margin-bottom: 20px;
      width: 100%;
    }

    &-deleteButton{
      width: 100%;
      background-color: white;
      color: $primary;
      border: 2px solid $primary;
      margin-top: 20px !important;
    }

    &-nameInput{
      margin-bottom: 90px;
    }


    &-saveButton{
      align-self: flex-start;
    }
  }

  &__metaWrap{
    @include desktop{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &__imgWrap{
    @include desktop{
      order: 1;
      width: 40%;
    }
  }

  &__img{
    
    @include desktop{
      width: 100%;
      margin-top: 20px;
    }
  }

  &__inputWrap{
    @include desktop{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60%;
      padding-right: 68px;
    }

    .editDish__editor-nameInput{
      @include desktop{
        margin-top: 0 !important;
      }
    }

    .addDish__editor-descInput{
      height: 280px !important;

    @include desktop{
      height: 100% !important;
      flex-grow: 3;
    }

    .MuiOutlinedInput-multiline{
      height: 100% !important;

      #outlined-multiline-static{
        height: 100% !important;
      }
    }
  }
  }
}