.choiceTable_wrap{
  width: 100%;
  margin-top: 50px;

  .MuiList-root{
    margin: 30px 0 60px !important;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  
  
    @include desktop{
      grid-template-columns: 1fr 1fr;
      grid-gap: 35.9px;
    }
  }

  .MuiTab-root{
    margin-right: 77px;
    width: auto !important;
    min-width: 0 !important;


  }
}



.MuiListItem-root{
  border: 2px solid $primaryVariant2;
  border-radius: 20px;
  padding: 0 !important;
  height: 72.6px;
}

.MuiFormControlLabel-root{
  width: 100%;
  height: 55px;
  padding: 0 40px 0 20px;
  margin: 0 !important;

  @include desktop{
    width: 100%;
    height: 80px;
  }
}

.MuiFormControlLabel-labelPlacementStart{
  flex-direction: row;
  justify-content: space-between;
}

.MuiFormControlLabel-root .MuiTypography-body1{
  font-family: 'NexaLight';
  font-size: 21px;
}

.MuiCheckbox-colorPrimary.Mui-checked{
  color: $primaryVariant1 !important;
}

.choiceIcon{
  width: 20px;
  max-height: 30px;
  margin-left: 40px;
}

.MuiTab-textColorInherit{
  opacity: 1 !important;
}

.MuiTab-textColorInherit.Mui-selected{
  color: $primary;

  .MuiTab-wrapper{
    border-bottom: 6px solid $primary;
  }
}

