.MuiBox-root{
  padding: 0 !important;
}

.contact{
  background-color: $secondaryVariant;
  padding-bottom: 30px;

  &__title{
    background-color: white;
    padding: 20px;

    @include desktop{
      background-color: $secondaryVariant;
      padding: 20px 65px;
    }

    // 'Contact'
    h1{
      margin-bottom: 0;

      @include desktop{
        margin: 0;
      }
    }

    p{

      @include desktop{
        margin: 26.5px 0;
      }
    }
  }

  &__contactInfoWrap{
    padding: 40px 20px;

    @include desktop{
      padding: 40px 65px;
    }

    @include desktop{
      display: flex;
      flex-direction: row;
    }

    iFrame{
      @include desktop{
        height: 365px;
        width: 50%;
      }
    }
  }

  &__infoWrap{
    @include desktop{
      margin-left: 60px;
    }
  }

  &__locationWrap{
    display: flex;
    margin-top: 10px;
    
    img{
      align-self: flex-start;
      max-width: 30px;
      margin-right: 25px;
    }

    p{
      margin-top: 6px;
    }
  }
  
  &__phoneWrap{
    display: flex;
    
    img{
      max-width: 30px;
      margin-right: 25px;
    }
  }



  &__form{
    background-color: white;
    border: 1px solid $primaryVariant2;
    border-radius: 20px;
    margin: 20px;
    padding: 20px 20px 80px;

    @include desktop{
      padding: 20px 54.8px 144px;
      margin: 35px 56px ;
    }

    h2{
      @extend %headings;
      font-size: 24px;

      @include desktop{
        font-size: 32px;
      }
    }

    form{
      @include desktop{
        display: flex;
        flex-direction: column;
      }

      .MuiTextField-root{
        @include desktop{
          margin-bottom: 42px !important;
        }
      }
    }

    &-namePhoneWrap{
      @include desktop{
        display: flex;
        justify-content: space-between;
      }
      
      .MuiFormControl-root{
        @include desktop{
          width: 48% !important;
        }
      }
    }

    .MuiInputBase-multiline{
      @include desktop{
        height: 300px !important;
      }
    }

    button{
      margin-top: 20px;
    }
  }

  .MuiInputLabel-outlined {
    z-index: 1;
    transform: translate(25px, 20px) scale(1);
    pointer-events: none;

    @include desktop{
      transform: translate(25px, 25px) scale(1);
    }
  }
}