.desktopMenu{
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: $maxWidth;
  padding: 0 17.5px;
  margin: 0 auto;
  

  ul{
    display: flex;
    color: $primaryVariant1;

    li{
      padding-right: 96.25px;
      

      &:last-child{
        padding-right: 0;
      }

      a{
        font-size: 16.8px;
      }
    }
  }

  .forRestaurants{
    button{
      width: 194px;
      height: 56px;
      font-size: 16.8px;
    }
  }

  &__wrapper{
    padding: 26.25px 17.5px;
  }

  &__logo{
    width: 91.7px;
  }

}