.editDish{

  &__titleWrap{
    background-color: white;
    padding: 20px;

    @include desktop{
      background-color: $secondaryVariant;
      padding: 20px 65px;
    }

    h1{
      margin: 0;
    }

    p{
      font-size: 12px;

      @include desktop{
        font-size: 24px;
      }
    }
  }

  &__editor{
    margin: 50px 20px;
    padding: 20px;
    border: 1px solid $primaryVariant2;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop{
      margin: 20px 65px;
      padding: 65px;
    }

    &-buttonWrap{
      margin: 46px 0;
    }

    &-addButton{
      margin-bottom: 20px;
      width: 100%;
    }

    &-deleteButton{
      width: 100%;
      background-color: white;
      color: $primary;
      border: 2px solid $primary;
    }

    &-nameInput{
      margin-bottom: 90px !important;
    }

    &-priceInput{

    }

    &-saveButton{
      align-self: flex-start;
    }
  }

  &__metaWrap{
    @include desktop{
      display: flex;
    }
  }

  &__imgWrap{
    @include desktop{
      order: 1;
      width: 40%;
    }
  }

  &__img{
    
    @include desktop{
      width: 100%;
    }
  }

  &__inputWrap{
    @include desktop{
      display: flex;
      flex-direction: column;
      width: 60%;
      padding-right: 50px;
    }

    .editDish__editor-nameInput{
      @include desktop{
        margin-top: 0 !important;
      }
    }
  }

  &__descInput{
      height: 280px !important;

    @include desktop{
      height: auto !important;
      flex-grow: 1;
    }

    .MuiOutlinedInput-multiline{
      height: 100% !important;

      #outlined-multiline-static{
        height: 100% !important;
      }
    }
  }
}