.site-home-main{
  margin: 0 auto;

  .subtitle{
    @extend %sub_headings;
  }

  &__hero{
    @include desktop {
      width: 960px;
      position: absolute;
      right: 0;
    }
  }


  // Hero Section(Hamburger Section)
  .hero{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 140px;
    padding: 0 20px;
    max-width: $maxWidth;

    @include desktop {
      flex-direction: row;
      height: 824px;
    }

    &__textWrapper{
      max-width: 90%;
      text-align: center;

      @include desktop {
        text-align: left;
      }

      h1{
        padding: 30px 0;

        @include desktop {
          padding: 0;
          margin: 0;
          max-width: 655px;
          font-size: 80px;
          line-height: 100px;
        }
      }
  
      p{
        line-height: 24px;

        @include desktop {
          line-height: 36px;
          max-width: 575px;
        }
      }

      @include desktop {
        order: -1;
        flex-grow: 1;
      }
    }

    button{
      margin: 25px;

      @include desktop {
        margin: 60px 0 0 0;
      }
    }
  }


  // How it works(The Pancake Section)
  .howItWorks{
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 0 20px;

    @include desktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

      &____textWrapper{
        margin: 50px auto;
        text-align: left;

        h1{
          @include desktop {
            margin: 0;
          }
        }

        @include desktop {
          margin: 0;
          grid-column: 2/3;
          grid-row: 1/2;
        }
      }
  
    .pancakePic{
      max-width: 100%;
      margin-top: 50px;

      @include desktop {
        max-width: 600px;
        grid-column: 1/2;
        grid-row: 1/3;
        align-self: flex-start;
      }
    }

    &__stepsWrapper{
      margin-bottom: 100px;
      max-width: 90%;
      margin: 50px auto;

      @include desktop {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 0
      }
  
      p{
        @include desktop {
          margin: 0
        }
      }
    }

    &__step{
      display: flex;
      align-items: center;
      text-align: left;
      margin: 20px 0;

      @include desktop {
        height: 67px;
      }

      img{
        width: 40px;
        margin-right: 30px;
      }
    }

    &__champagne{
      padding: 0 5px;
    }

    &__cursol{
      padding: 0 7px;
    }
    }
  }


  
  // Features (Lobster Area)
  .features-section{
    background-color: $secondaryVariant;
    width: 100%;
    margin: 0 auto;

    @include desktop {
      padding: 200px 0 100px;
    }

    .home-section2{
      margin: 50px auto;
      padding: 0 20px 50px;
      max-width: $maxWidth;
      

      @include desktop {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
      }

      .section2-content1{
        max-width: 478px;

        img{
          margin: 50px auto;
          max-width: 100%;

          @include desktop {
            margin-top: 0;
          }
        }
      }

      &__description{
        
        @include desktop {
          order: -1;
          max-width: 1000px;
        }

        .section2-content2{
          max-width: 850px;
        }

        .section2-content3{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 30px;

          @include desktop {
            flex-direction: row;
          }

          .subtitle{
            
            @include desktop {
              font-size: 24px;
              margin-top: 0;
            }
          }
        }
      }
    }

    .content3{
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      max-width: 390px;
  
      &-image{
        margin-bottom: 15px;
        max-width: 35%;
  
        @include desktop {
          width: 300px;
        }
      }
  
      .subtitle{
        margin-bottom: 8px;
      }
  
      .content3-description{
        margin-top: 0;
      }
    }
  }


  // Meet the Team
  .home-section3{
    padding: 40px 20px 0;
    max-width: $maxWidth;
    margin: auto;

    @include desktop {
      margin: 100px auto 150px auto;
    }

    // Title area
    .section3-content1{
      margin-bottom: 50px;

      @include desktop {
        margin-bottom: 100px;
      }

      h1{
        margin-bottom: 15px; 

        @include desktop {
          text-align: center;
          margin-bottom: 50px;
        }
      }

      p{
        margin: auto;
        @include desktop {
          text-align: center;
          max-width: 800px;
        }
      }
    }

    // Member Cards List
    .section3-content2{
      @include desktop {
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }


  // Call To Action Section (Salmon and Egg area)
  .cta{
    background-color: $secondaryVariant;

    .home-section4{
      margin: 100px auto 50px;
      padding: 40px 20px 50px;
      max-width: $maxWidth;
  
      @include desktop {
        display: flex;
      }
  
      img{
        margin: 50px auto;
        max-width: 100%;

        @include desktop {
          max-width: 633px;
          margin-right: 110px;
      }
    }
  
      .section4-content2{
        @include desktop {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        h1{
          @include desktop {
            margin-bottom: 20px;
          }
        }

        p{
          margin: 10px 0 80px 0;
        }

        button{
          @include desktop {
            width: 336px;
          }
        }
      }
    }
  
}