.site-home-main{
  margin: 0 auto;

  .subtitle{
    @extend %sub_headings;
  }

  &__hero{
    max-width: 100%;

    @include desktop {
      width: 50vw;
      position: absolute;
      right: 0;
      z-index: -1;
    }
  }


  // Hero Section(Hamburger Section)
  .hero{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 122px;
    padding: 0 17.5px;
    max-width: $maxWidth;

    @include desktop {
      flex-direction: row;
      height: 824px;
    }

    &__textWrapper{
      max-width: 90%;
      text-align: center;

      @include desktop {
        text-align: left;
      }

      h1{
        padding: 30px 0;

        @include desktop {
          padding: 0;
          margin: 0;
          max-width: 574px;
          font-size: 70px;
          line-height: 87.5px;
        }
      }
  
      p{
        line-height: 24px;

        @include desktop {
          line-height: 31.5px;
          max-width: 504px;
        }
      }

      @include desktop {
        order: -1;
        flex-grow: 1;
      }
    }

    button{
      margin: 25px;

      @include desktop {
        margin: 52.5px 0 0 0;
      }
    }
  }


  // How it works(The Pancake Section)
  .howItWorks{
    max-width: $maxWidth;
    margin: 0 auto 115px;
    padding: 0 17.5px;

    @include desktop {
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

      &____textWrapper{
        margin: 43.75px auto;
        text-align: left;

        @include desktop {
          margin: 0;
          grid-column: 2/3;
          grid-row: 1/2;
        }

        h1{
          @include desktop {
            margin: 0;
          }
        }

        p{
          margin-bottom: 50px;
        }
      }
  
    picture{
      max-width: 100%;
      
      @include desktop {
        max-width: 525px;
        margin: 10px;
        grid-column: 1/2;
        grid-row: 1/3;
        align-self: flex-start;
      }

      .pancakePic{
        margin-top: 50px;

        @include desktop {
          margin: 0;
        }
      }
    }

    &__stepsWrapper{
      margin-bottom: 100px;
      margin: 50px 0;

      @include desktop {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 0
      }
  
      p{
        @include desktop {
          margin: 0
        }
      }
    }

    &__step{
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      margin: 20px 0;

      @include desktop {
        justify-content: flex-start;
        height: 58.7px;
      }

      img{
        width: 35px;
        margin: 0 60px 0 0;

        @include desktop {
          margin-right: 26.25px;
        }
      }
    }

    &__champagne{
      padding: 0 5px;
    }

    &__cursol{
      padding: 0 7px;
    }
    }
  }


  
  // Features (Lobster Area)
  .features-section{
    background-color: $secondaryVariant;
    width: 100%;
    margin: 0 auto;

    @include desktop {
      padding: 144px 0;
    }

    .home-section2{
      margin: 50px auto;
      padding: 0 20px;
      max-width: $maxWidth;
      

      @include desktop {
        display: flex;
        // justify-content: space-between;
        margin: 0 auto;
      }

      .section2-content1{
        max-width: 418.25px;

        img{
          margin: 50px auto;
          max-width: 100%;

          @include desktop {
            margin: 0;
          }
        }
      }

      &__description{
        
        @include desktop {
          flex-grow: 2;
          order: -1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .section2-content2{
          max-width: 745px;

          h1{
            font-size: 36px;

            @include desktop {
              font-size: 52.5px;
            }
          }
        }

        .section2-content3{
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;

          @include desktop {
            flex-direction: row;
            margin: 0;
          }

          .subtitle{
            
            @include desktop {
              font-size: 24px;
              margin-top: 0;
            }
          }
        }
      }
    }

    .content3{
      flex-grow: 2;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      @include desktop {
        margin: 0;
      }
  
      // Sushi and Tomato Soup
      &-image{
        margin-bottom: 15px;
        max-width: 30.6%;
  
        @include desktop {
          max-width: 98px;
        }
      }
  
      .subtitle{
        font-family: 'NexaBold';
        margin-bottom: 8px;
      }
  
      .content3-description{
        margin-top: 0;

        @include desktop {
          margin: 0;
          max-width: 390px;
        }
      }
    }
  }


  // Meet the Team
  .home-section3{
    padding: 40px 20px 0;
    max-width: $maxWidth;
    margin: auto;

    @include desktop {
      margin: 138.3px auto 168px auto;
    }

    // Title area
    .section3-content1{
      margin-bottom: 50px;

      @include desktop {
        margin-bottom: 100px;
      }

      h1{
        margin-bottom: 15px; 

        @include desktop {
          text-align: center;
          margin-bottom: 20px;
        }
      }

      p{
        margin: auto;
        @include desktop {
          text-align: center;
          max-width: 674px;
        }
      }
    }

    // Member Cards List
    .section3-content2{
      @include tablet {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr;
      }

      @include desktop {
        display: grid;
        grid-gap: 56px 73px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }


  // Call To Action Section (Salmon and Egg area)
  .cta{
    background-color: $secondaryVariant;

    .home-section4{
      margin: 100px auto 0;
      padding: 79.6px 20px 105px;
      max-width: $maxWidth;
  
      @include desktop {
        display: flex;

      }
  
      img{
        margin: 50px auto;
        max-width: 100%;

        @include desktop {
          max-width: 554px;
          margin: 0 110px 0 0;
        }
      }
  
      .section4-content2{
        @include desktop {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        // "Ready to see what we are working on?"
        h1{
          font-size: 31px;
          @include desktop {
            font-size: 52.5px;
            margin-bottom: 0;
          }
        }

        // "If you are curious to know all the details of our..."
        p{
          margin: 27.2px 0 60.8px 0;
        }

        // Dowanload button
        button{

          @include desktop {
            width: 294px;

          }
        }
      }
    }
  
}