.menuDetail{
  background-color: $secondaryVariant;
  padding-bottom: 135px;
  
  &__titleWrap{
    padding: 20px;
    background-color: white;

    @include desktop{
      background-color: $secondaryVariant;
      padding: 20px 65px;
    }

    p{
      font-size: 12px;

      @include desktop{
        font-size: 21px;
        margin: 26.5px 0;
      }
    }

    h2{
      @extend %headings;
      font-size: 32px;
      margin: 0;
      
      @include desktop{
        font-size: 52.5px;
      }
    }
  }

  // Card Wrap
  .MuiCard-root{
    margin: 50px 20px;
    padding: 20px;
    border: 1px solid $primaryVariant2;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop{
      padding: 66px 54.8px 130px;
      margin: 35px 56px ;
    }
  }
  
  &__picDescWrap{
    width: 100%;
    @include desktop{
      display: flex;
      margin-bottom: 80px;
    }
  }

  // Dish Image
  .MuiCardMedia-root{
    padding-top: 100%;
    width: 100%;

    @include desktop{
      width: 50%;
      padding-top: 50%;
    }
  }

  // Card Content
  .MuiCardContent-root{
    padding: 47px 0;

    @include desktop{
      width: 50%;
      padding: 0 0 0 50px;
    }

    h3{
      @extend %buttons;
    }

    h2{
      @extend %buttons;
      font-size: 20px;
    }

    .MuiFormControl-root{
      width: 100% !important;

      .MuiInputBase-input{
        line-height: 40px;
      }
    }
  }

  &__nameWrap,
  &__descWrap,
  &__priceWrap{
    margin-bottom: 28px;
  }

  &__nameWrap{
    h3{
      @include desktop{
        margin-top: 0;
      }
    }

    h2{
      @include desktop{
        font-size: 32px !important;
        margin-bottom: 52px;
      }
    }
  }

  &__priceWrap{
    h2{
      @include desktop{
        font-size: 32px !important;
      }
    }
  }

  &__buttonWrap{
    @include desktop{
      display: flex;
      align-self: flex-start;
    }
  }

  &__editButton{
    align-self: flex-start;

    @include desktop{
      margin-right: 40px;
    }

    button{
      width: 235px;
    }
  }

  &__removeButton{
    margin: 28px 0 70px;
    width: 235px;
    align-self: flex-start;
    background-color: white;
    color: $primary;
    border: 2px solid $primary;

    @include desktop{
      margin-top: 0;
    }
  }
}