// Whole Screen Wrapper(Navigation and Content Area)
#restaurantApp_wrap{
  flex-direction: column;

  @include desktop{
    flex-direction: row;
  }
}

  .navigation{
    width: 350px;
    margin: 0;
    padding: 20px 28px;

    &__logo{
      width: 48px;
    }

    &-nav__button{
      width: 24px;
    }

    &__logo{
      width: 115px;
      margin: 50px;
    }


    &__wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__menu{
      padding-top: 50px;
    }

    // Tabs
    .MuiTab-textColorInherit{
      opacity: 1 !important;
      color: $primaryVariant1;
    }

    .MuiTab-root{
      font-family: 'NexaRegular';
      font-size: 21px;
      text-transform: none;
      max-width: none;
      padding: 0;
      height: 74.4px;
      border-radius: 16px;

      // Icon Size Adjustment
      .toolbar__icon-activeOrders{
        padding: 3px;
      }

      .toolbar__icon-account{
        padding: 5px;
      }

      .toolbar__icon-support{
        padding: 4px;
      }
    }

    .MuiTab-textColorInherit.Mui-selected{
      background-color: $primary;
      color: white;

      // icons
      svg{
        width: 36px;
        margin: 0 49.6px 0 28px;
        fill:none;
        stroke:white;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-width:3px;
      }
    }

    // Tabs Content
    .MuiTab-wrapper{
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      line-height: 25.2px;

      // icons
      svg{
        width: 36px;
        margin: 0 49.6px 0 28px;
        fill:none;
        stroke:#3e315a;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-width:3px;
      }

    }

    &__header{
      padding: 0;
    }

    &__menu{
      color: black !important;
    }
  }