.signIn{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo{
      width: 37px;
      position: absolute;
      top: 23px;
      left: 16px;
    }

    &__container{
      padding: 79px 16px 56px;

      h1{
        font-size: 32px;
        margin: 0;
      }

      p{
        margin: 8px 0 20px;
      }
    }

    &__cta{
      font-family: 'NexaBold';

      span{
        text-decoration: underline;
        color: $primary;
      }
    }

    .makeStyles-root-1 .MuiFormControl-root{
      margin: 20px 0;
      width: 100%;
    }

    .PrivateNotchedOutline-root-2{
      border-radius: 20px;
    }

    .MuiInputBase-root, .MuiInputLabel-outlined{
      font-family: 'NexaRegular';
    }

    button{
      margin: 30px 0 20px;
    }

}