.signUp{
  margin: 0;
  max-width: 1680px;

  &__main{
    @include desktop{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    img{
      @include desktop{
        width: 100%;
      }
    }
  }

  &__container{
    padding: 40px 20px;

    @include desktop{
      padding: 30px 50px 30px 110px;
      display: flex;
      flex-direction: column;
    }

    h1{
      font-size: 32px;
      margin-bottom: 0;

      @include desktop{
        font-size: 60px;
      }
    }

    p{
      margin: 10px 0 20px;
    }

    button{
      margin: 30px 0 20px;

      @include desktop{
        width: 435px;
      }
    }
  }
}
