.signUp-about{
  padding: 0 20px;
  max-width: $maxWidth;
  margin: 0 auto;

  @include desktop{
    height: 100vh;
  }

  .MuiFormControl-root{
    width: 100% !important;
    margin: 8px 0 !important;
  }
  
  &__wrapper{
    position: relative;

    .crepe{
      margin-top: 50px;
      margin-left: 50%;
      max-width: 50%;

      @include desktop{
        position: absolute;
        right: 20px;
        bottom: 20px;
        z-index: -1;
        width: 24%;
      }
    }
  }

  &__logo{
    width: 47px;
    margin-top: 20px;

    @include desktop{
      margin-top:57px;
      width: 131px;
    }
  }

  &__main{
    margin-top: 54px;
    padding: 0 !important;
    max-width: 560px !important;

    @include desktop{
      margin-top: 0;
    }

    h1{
      font-size: 32px;
      margin: 0;

      @include desktop{
        text-align: center;
        line-height: 48px;
      }
    }

    p{
      margin: 10px 0 30px;

      @include desktop{
        text-align: center;
        margin-bottom: 50px;
      }
    }


    button{
      margin-top: 50px;

      @include desktop{
        width: 215px;
        margin-top: 50px;
      }
    }
  }

  &__form{
    @include desktop{
      display: flex !important;
      flex-direction: column;
      align-items: center !important;
    }

    .MuiFormControl-root{
      @include desktop{
        margin-top: 10px !important;
      }
    }
  }

  &__descriptionInput{

    @include desktop{
      height: 156px !important;
    }

    textarea{
      @include desktop{
        margin-top: 20px;
        height: 156px !important;
      }
    }

    .PrivateNotchedOutline-root-2{
      @include desktop{
        height: 180px !important;
      }
    }

    .MuiOutlinedInput-multiline{
      @include desktop{
        height: 156px !important;
      }
    }
  }

  .MuiInputLabel-outlined {
    z-index: 1;
    transform: translate(25px, 20px) scale(1);
    pointer-events: none;

    @include desktop{
      transform: translate(25px, 25px) scale(1);
    }
  }
}