.MuiTable-root{
  border: none;
}


.MuiPaper-elevation1{
  box-shadow: none !important;
}

.ordersTable{
  &__tableWrap{
    margin: 60px 20px;
    padding: 40px 20px;
    border: 1px solid $primaryVariant2;
    border-radius: 20px;
    background-color: white;

    @include desktop{
      margin: 40px 65px;
      padding: 20px 65px;
    }

    h2{
      @extend %buttons;
      font-size: 24px;
      color: $primary;

      @include desktop{
        font-size: 32px;
        margin-bottom: 100px;
      }
    }
  }
}