.MuiTable-root{
  border: none;
  font-family: 'NexaLight' !important;
  

  .MuiTableCell-body{
    color: $primaryVariant1 !important;
  }

  tr:last-child{
    &>td{
      border: none;
    }
  }
}

.MuiTableCell-head{
  font-family: 'NexaLight' !important;
}

.MuiPaper-elevation1{
  box-shadow: none !important;
}

// Table Header
.ordersTable__tabelHeader{
  display: none !important;
  color: $primaryVariant1 !important;

  @include desktop{
    display: table-header-group !important;
  }
}

// Table Row
.ordersTable__row{
  display: flex !important;
  flex-direction: column;
  align-items: center;
  cursor : pointer;

  &>*{
    border-bottom: unset !important;
    width: 100%;

    @include desktop{
      width: auto;
    }
  }

  @include desktop{
    display: table-row !important;
  }

  th{
    padding-left: 0;
    padding-right: 0;

    @include desktop{
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

// Detail Table
.ordersTable__detailTable{
  padding: 16px 0 !important;

  @include desktop{
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    padding-left: 190px !important;
  }

  hr{
    border-top: .5px solid $primaryVariant2;
  }
  

  .MuiTable-root{
    padding: 15px 0;

    @include desktop{
      padding: 35px 0;
    }
  }
  
  &-tableHeader{
    padding-right: 25px !important;

    @include desktop{
      padding-right: 100px !important;
    }
  }

  &-tHCell{
    border: none !important;
    padding: 6px 0 !important;
    height: 32px;

    @include desktop{
      display: flex !important;
      align-items: center;
      padding: 6px 125px 6px 0px !important;
      height: auto;
    }

    // Icon
    img{
      width: 16px !important;
      margin-right: 16px !important;
    }

    span{
      display: none !important;

      @include desktop{
        display: inline !important;
      }
    }
  }
}

// Order No. Part
.ordersTable__orderNoWrap{
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 !important;
  width: 100%;

  @include desktop{
    width: 85px;
    justify-content: flex-start;
    margin: 25px 0;
  }

  button{
    width: auto;
  }
}

// Order No.
.ordersTable__orderNo{
  font-family: 'NexaXBold' !important;
  font-size: 16px !important;

  @include desktop{
    font-family: 'NexaLight' !important;
    font-size: 21px !important;
    margin-right: 24px;
  }

  div{
    @include desktop{
      width: 42.563px !important;
    }
  }
}


// Menu Image & Product Name
.ordersTable__productName{

  &-wrap{
    display: flex;
    align-items: center;
  }
  
  // Menu Image
  .ordersTable__menuImg{
    width: 72px !important;
    margin-right: 33px;

    @include desktop{
      width: 72px !important;
      margin-right: 33px;
    }
  }

  // Product Name
  span{
    font-family: 'NexaXBold' !important;
    font-size: 16px !important;
  
    @include desktop{
      font-size: 21px !important;
    }
  }
}

// Quantity
.ordersTable__quantity{
  font-family: 'NexaLight' !important;
  font-size: 16px !important;
  
  @include desktop{
    font-size: 21px !important;
    width: 100px !important;
  }
}

// Product Name and Quantity Cell (Just For Mobile)
.ordersTable__nameQuantityCell{
  padding: 16px 0 !important;
  display: flex !important;
  justify-content: space-between !important;
}

// Order Status Drop down
.ordersTable__statusDropdown{
  padding: 0 !important;

  @include desktop{
    padding: 16px !important;
  }

  .MuiSelect-selectMenu{
    line-height: 40px !important;
    padding: 18.5px 20px !important;

    @include desktop{
      font-size: 17.5px !important;
      padding: 26.25px 33.25px !important;
    }
  }
}

.ordersTable{
  &__tableWrap{
    margin: 60px 20px;
    padding: 40px 20px;
    border: 1px solid $primaryVariant2;
    border-radius: 20px;
    background-color: white;

    @include desktop{
      margin: 40px 65px;
      padding: 20px 65px;
    }

    h2{
      @extend %buttons;
      font-size: 21px;
      color: $primary;

      @include desktop{
        font-size: 32px;
        margin-bottom: 40px;
      }
    }
  }
}

.table{
  &__orderNoHeader{
    @include desktop{
      width: 189px !important;
    }
  }

  &__productHeader{
    @include desktop{
      width: 502px !important;
    }
  }

  &__quantityHeader{
    @include desktop{
      width: 158px !important;
    }
  }

  &__statusHeader{
    @include desktop{
      width: 241px;
    }
  }
}

