.team-card{
  background-color: $secondaryVariant;
  margin-bottom: 50px;
  padding: 21px;
  text-align: center;

  @include desktop{
    margin: 0;
  }

  // Name
  h1{
    font-size: 21px;
    margin: 10px 0 0;

    @include desktop{
      line-height: 25px;
    }
  }

  // Title
  p{
    margin: 0;

    @include desktop {
      text-align: center;
      font-size: 14px;
    }
  }

  // Solical Links
  ul{
    display: flex;
    justify-content: center;
    margin: 15px 0 0;

    img{
      width: 25px;
      margin: 0 10px;
    }
  }
}