.toolbar{
  padding: 0 20px;
  background-color: $secondaryVariant;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  overflow: hidden;

  &__wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__header{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo{
    width: 37px;
    height: auto;
  }

  &__closeIcon{
    font-size: 25px !important;
    margin-right: 5px;
    margin-bottom: 2px;
  }

  &__menu{
    flex-grow: 2;
    padding-top: 20px;

    li{
      @extend %title;
      text-align: center;
      padding: 25px;
    }
  }

  &__footer{
    padding: 48px 0;

    p{
      text-align: center;
      font-size: 12px;
    }
  }
}