.signUp-about-wrapper{
    
    background: url('../../../img/SignIn_SignUp.png') center center no-repeat;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUp-about-main{
    background-color: white;
}